
div.section {
  margin-bottom: 60px;
  padding: 56px 0;

  div.console {
    width: 360px;
    max-width: 92vw;
    margin: 0 auto;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);    

    div.console-head {
      overflow: hidden;
      background-color: #d5d5d5;
      padding: 8px 15px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      div.console-dot {
        float: left;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 7px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);

        &.dot-red {
          background-color: #ff6057;
        }
        &.dot-yellow {
          background-color: #ffc22e;
        }
        &.dot-green {
          background-color: #28ca40;
        }
      }
    }

    div.console-body {
      padding: 30px 17px 20px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      div.console-prompt {
        display: block;
        margin-bottom: 15px;
      }
    }

  }

}

.red {
  div.section {
    background: linear-gradient(#d32f2f ,#f44336);
    color: #fff;

    div.console {
      div.console-body {
        background-color: #1e1e1e;
      }
    }
  }
}

.blue {
  div.section {
    background: #ffffff;
    color: rgb(26, 26, 26);

    div.console {

      div.console-body {
        background-color: rgb(40, 44, 52);
      }
    }
  }
}